.meme-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards por fila */
    gap: 20px;
    padding: 20px;
}

.meme-card {
    background: #fff; /* Fondo blanco */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
    text-align: center;
}
